.headermain {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #dee2e6;
    align-items: center;
}
.fouritems {
    height: 100%;
    display: flex;
    align-items: center;
    }
.item {
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.item:hover {
    background-color: rgb(241, 240, 240);
}
.item:focus-within {
    background-color: lightblue;
}
.leftside{
    font-weight: 500;
    font-size: 20px;
}
.setimage{
    border-radius: 50%;
}
.leftsidediv{
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
